// AboutMe.scss

.AboutMe {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 5% 2em 1.2em 2em;
	box-sizing: border-box;
	color: $LYNX_WHITE;
	font-size: 2.4em;
	font-family: 'Comfortaa';
	flex-flow: column;

	p {
		margin: 0;
		padding: 0;
		text-align: center;
		padding: 0.2em;
	}

	strong {
		font-weight: bold;
	}

	a {
		text-decoration: none;
	}

	.AboutMe-footer {
		display: flex;
		box-sizing: border-box;
		justify-content: space-around;
		padding: 1em 0 1em 0;

		.AboutMe-btn {
			font-size: 0.7em;
			background-color: rgba(0, 0, 0, 0);
			border: solid 0.1em $LYNX_WHITE;
			color: $LYNX_WHITE;
			padding: 0.4em 0.7em 0.4em 0.7em;
			border-radius: 0.2em;
			font-family: inherit;
			cursor: pointer;
			outline: none;
			user-select: none;
		}
		.AboutMe-checkStuff-btn {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: center;
			&:hover {
				color: $FLOWER;
				border-color: $FLOWER;
			}

			.AboutMe-checkStuff-btn-text {
			}
			.AboutMe-checkStuff-btn-chevron {
				margin-left: 1em;
				font-size: 0.8em;
			}
		}
		.AboutMe-hire-btn {
			background-color: #e84118;
			border-color: #e84118;

			&:hover {
				font-weight: bold;
			}
		}
	}
}
