// MyProjects.scss;

.ProjectList {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 1.2em 0 1.2em 0;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: center;
	.ProjectList-content {
		display: flex;
		flex-wrap: wrap;
		width: 85%;

		.Project {
			box-sizing: border-box;
			display: inline-block;
			margin: 1em;
			font-size: 0.75em;
			.Project-url {
				display: inline-block;
				text-decoration: none;
				position: relative;

				&:hover::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.1);
				}

				.Project-thumbnail {
					width: 25.6em;
					height: 16em;
					background-color: $LYNX_WHITE;
					overflow: hidden;
					border-bottom-left-radius: 0.4em;
					border-bottom-right-radius: 0.4em;

					&.Project-thumbnail-logo {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&.Project-thumbnail-smallLogo {
						.Project-thumbnail-img {
							width: 50%;
						}
					}

					&.Project-thumbnail-bigLogo {
						.Project-thumbnail-img {
							width: 40%;
						}
					}

					&:not(.Project-thumbnail-logo) {
						.Project-thumbnail-img {
							width: 100%;
							height: 100%;
						}
					}
				}

				.Project-thumbnail-empty {
				}
			}
			.Project-header {
				width: 100%;
				font-size: 1.2em;
				height: 2.6em;
				display: flex;
				flex-flow: column;
				justify-content: center;
				color: $LYNX_WHITE;
				font-family: Comfortaa;
				font-weight: bold;
				padding-left: 0.7em;
				box-sizing: border-box;
				background-color: rgba(0, 0, 0, 0.4);
				border-top-left-radius: 0.4em;
				border-top-right-radius: 0.4em;
			}
		}
	}
}
