// index.scss

// Tablet
@media (max-width: 100em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-rows: 9em auto;
			grid-template-columns: 0 0 auto 0 0;
		}
	}

	.AboutMe {
		.AboutMe-footer {
			.AboutMe-btn {
				text-align: center;
				font-size: 0.9em;
			}
		}
	}

	.menu {
		font-size: 0.9em;
	}

	.ProjectList-content {
		justify-content: center;
	}
}

// Mobile all
@media (max-width: 60em) {
	.AboutMe {
		font-size: 2.9em;
	}
}

// Mobile all landscape
@media (max-width: 60em) and (orientation: landscape) {
	.Contact {
		font-size: 1.7em;
	}
}

// big screen mobile
@media (max-width: 60em) and (orientation: landscape) {
	body {
		font-size: 0.5em;
	}

	.App {
		.App-content {
			grid-template-rows: 10em auto;
			grid-template-columns: 20em 0 auto 0 20em;
		}
	}
}

// Mobile
@media (max-width: 50em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	.ProjectList {
		.ProjectList-content {
			justify-content: center;

			.Project {
				font-size: 1.2em;
			}
		}
	}

	.App .App-content .App-contact {
		font-size: 1.4em;
	}

	.AboutMe {
		.AboutMe-footer {
			flex-wrap: wrap;
			.AboutMe-btn {
				margin: 0.5em;
				padding: 0.4em 0.5em 0.4em 0.5em;
			}
		}
	}

	.TagList {
		width: 100%;
	}

	.Contact {
		p {
			width: 100%;
		}
	}
}

// Mobile landscape
@media (max-width: 50em) and (orientation: landscape) {
	body {
		font-size: 0.4em;
	}
	.App {
		.App-content {
			grid-template-columns: 10em 0 auto 0 10em;
		}
	}
	.ProjectList {
		.ProjectList-content {
			justify-content: center;
			.Project {
				font-size: 0.8em;
			}
		}
	}

	.AboutMe {
		font-size: 3.1em;
	}

	.TagList {
		font-size: 1em;
		width: 100%;
	}
}

// Small-ish Mobile
@media (max-width: 30em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}

	body {
		font-size: 0.6em;
	}
}

// Small Mobile
@media (max-width: 25em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	.AboutMe {
		font-size: 2.8em;
	}
	body {
		font-size: 0.55em;
	}
}

// Smallest Mobile
@media (max-width: 20em) and (orientation: portrait) {
	.AboutMe {
		.AboutMe-footer {
			.AboutMe-btn {
				text-align: center;
				padding: 0.4em 0.3em 0.4em 0.3em;
			}
		}
	}
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.5em;
	}
}

// Smallest Mobile
@media (max-height: 20em) and (orientation: landscape) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.7em;
	}
}
