// index.scss

// Bigger screen desktop
@media (max-width: 150em) and (orientation: landscape) {
	.App {
		.App-content {
			grid-template-rows: 10em auto;
			grid-template-columns: 10em 20em auto 20em 10em;
		}
	}

	.AboutMe {
		.AboutMe-footer {
			.AboutMe-btn {
				margin: 0.5em;
				text-align: center;
			}
		}
	}
}

// Smaller screen all orientation
@media (max-width: 100em) {
	.App {
		.App-content {
			grid-template-rows: 7em auto;
		}
		&:before {
			background-image: url('/img/bg3_mobile.jpg');
		}
	}
}

// Smaller screen desktop and tablets
@media (max-width: 100em) and (orientation: landscape) {
	body {
		font-size: 0.9em;
	}
	.App {
		.App-content {
			grid-template-columns: 4em 20em auto 20em 4em;
		}
	}

	.ProjectList {
		.ProjectList-content {
			justify-content: center;

			.Project {
				font-size: 0.8em;
			}
		}
	}
}

// Smaller screen desktop and tablets
@media (max-width: 70em) and (orientation: landscape) {
	.App {
		.App-content {
			grid-template-rows: 10em auto;
			grid-template-columns: auto 20em auto 20em auto;
		}
	}
}
